Implement early hints

For the cowboy adapter: https://github.com/ninenines/cowboy/blob/364a3527d4d096aebdf4d59ece1b2b660e6ed846/doc/src/guide/resp.asciidoc#informational-responses

Spec: https://tools.ietf.org/html/draft-ietf-httpbis-early-hints-05 https://tools.ietf.org/html/rfc8297
 
Short comparison between push and hints: https://www.chromium.org/spdy/link-headers-and-server-hint

Comprehensive article for reference https://dexecure.com/blog/http2-push-vs-http-preload/

If there's anything I can do to help, let me know.

@Gazler The only changes needed in Plug is to support for sending multiple responses to one request, correct?

@ericmj this seems pretty straight forwards except, as you've noted, Plug will need to send multiple responses to the same request as we'll first need to send back 1 or more `103 Early Hints` responses.

What's not super clear to me is if we need to think about the HTTP/1.1 case. Hints should work in theory for HTTP/1.1 but likely won't in practice:

>    Some clients might have issues handling 103 (Early Hints), since
   informational responses are rarely used in reply to requests not
   including an Expect header field ([RFC7231], Section 5.1.1).

  >  In particular, an HTTP/1.1 client that mishandles an informational
   response as a final response is likely to consider all responses to
   the succeeding requests sent over the same connection to be part of
   the final response.  Such behavior might constitute a cross-origin
   information disclosure vulnerability in case the client multiplexes
   requests to different origins onto a single persistent connection.

   > Therefore, a server might refrain from sending Early Hints over
   HTTP/1.1 unless the client is known to handle informational responses
   correctly.

 >  HTTP/2 clients are less likely to suffer from incorrect framing since
   handling of the response header fields does not affect how the end of
   the response body is determined.
 
https://ninenines.eu/docs/en/cowboy/2.1/manual/cowboy_req.inform/

Given the changes it might make sense to add support for `inform/3` and `push/3` at the same time. 

Although I think we need to check the protocol for `inform/3` to ensure it is H2, whereas `push/3` will just no-op on HTTP/1.1.


@idyll Please feel free to take this on, I haven't started it yet.

On it.

@josevalim I think we need to no-op on HTTP/1.1. I am testing my changes right now and the HTTP/1.1 clients see the early hint come down and think it's the full response because they don't know how to handle the hint. 

So if Cowboy 2 is forced into HTTP/1.1 mode, we're going to have issues where any hinted pages may load on older browsers or other clients. As far as I can tell...

I think Cowboy is likely doing the right thing. It is possible that some clients know how to handle hints over HTTP/1.1. So they need to make sending them possible. 

The question for you is, do you want the logic in Phoenix or Plug? I after implementing this, I think it belongs in Plug...

For example, cow_http blows up when I test with it because it doesn't think `103` is a real response code.

https://github.com/ninenines/cowlib/blob/master/src/cow_http.erl#L299

We need to wait on https://github.com/ninenines/cowboy/issues/1283 for this. I think that there's an issue with `cowboy_req:inform/3`.

>  I think we need to no-op on HTTP/1.1. I am testing my changes right now and the HTTP/1.1 clients see the early hint come down and think it's the full response because they don't know how to handle the hint.

Btw, does it work on browsers?

My concern is the following. Imagine that we don't enable this for HTTP/1.1. Then imagine somebody finds a legit use case for using it in HTTP 1.1 and then we change Plug. All of the code that was written in the past will now break, because we just made it work for HTTP/1.1.

So I think the best approach is actually to support HTTP/1.1 since the beginning and make it super clear in the documentation that you need to check the http version.

And thanks for the PR and updates!

We might be fine with this. My concern about leaving inform in for HTTP/1.1 was based off of errors I was seeing, but I think that inform isn't working at all right now because there's an issue with Cowboy. 

Let's see what Loïc comes back with, I've sent him some Erlang that demonstrates the error I am seeing. 

We're going to need a new Cowboy + Cowlib for this to work. Just a head's up on that. I do have it working though :)

Awesome! Not a problem at all, we can just bump the requirements.

We are still waiting for browser support of Early Hints. Track progress here:
 - Chrome: https://bugzilla.mozilla.org/show_bug.cgi?id=1407355
 - Firefox: https://bugs.chromium.org/p/chromium/issues/detail?id=671310


@idyll yeah, I think we should close this issue as "Early Hints" support may take a while. Instead, we should just aim to support information responses. Once browsers support early hints, we can amend whatever is necessary.

@josevalim I think we're done then. That PR should be good to go unless you want changes.

Thanks! I will review it shortly.