Adapters should parse request headers into Elixir data-structures

Currently adapters provide the raw, clear-text request headers to Plug. [[1]](https://github.com/elixir-lang/plug/blob/master/lib/plug/adapters/cowboy/conn.ex#L12) I posit that instead, adapters should provide already parsed request headers to Plug.

To do so would require some a minor implementation changes to Plug that break backwards compatibility:
1. `Plug.Conn.req_headers` would be filled with [`:cowboy_req.parse_headers/{2.3}`](http://ninenines.eu/docs/en/cowboy/HEAD/manual/cowboy_req/#parse_header), with a fallback implementation provided by Plug for unparsed headers or other adapters that do not provide similar functionality.  See [RFC 2616 § 14](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html) for a list of well-defined headers.
2. Plug's matcher for `Plug.Parsers` and alike would have to be updated to understand the new format of the `Accept` field (which includes weighting!)

That would result in more standards complaint server behaviour, and in my opinion a better API. Furthermore, it allows better introspection, e.g. failed language matches (any of the requested languages are not returned) could be noted more easily.

---

I can submit a pull-request implementing the necessary changes described.
